*{font-family: 'Baloo Bhai 2', cursive !important;}

.nav-color-login{background-color: #17ac7d !important;border: 1px solid #17ac17 !important; cursor: pointer;}
.nav-color-sign{background-color: #1798ac !important;border: 1px solid #1798ac !important; cursor: pointer;}