<!--   
   <app-header></app-header> -->
   <style>
    .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    background: #7a55fe59;
    border: 1px solid #8255fe;
    cursor: pointer;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    border-radius: 0px !important;
    }
    .ftco-navbar-light .navbar-nav>.nav-item.cta>a:hover {
    background: #35068059;
    border: 1px solid #1c068059;
    }
    body{
    background-color: #efefef;
  }
 </style>
 <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" style="z-index: 333;">
       <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item" *ngIf="showAdminBoard">
             <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
          </li>
          <li class="nav-item" *ngIf="showModeratorBoard">
             <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
          </li>
          <li class="nav-item">
             <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn"><a routerLink="" class="nav-link"><span>Home</span></a></li>
          <li class="nav-item" *ngIf="!isLoggedIn"><a  *ngIf="showHead" class="nav-link"><span>About</span></a></li>
          <li class="nav-item dropdown" *ngIf="showHead" >
             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
             Services
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="docSer">physiotherapy</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="ortho">Orthopedic</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="labTest">Lab Tests</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="docCon">Doctor-consultations</a>
             </div>
          </li>
       </ul>
       <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item"><a *ngIf="showHead"  class="nav-link"><span>Contact</span></a></li>
          <!-- <li class="nav-item cta mr-md-2"><a class="nav-link" data-toggle="modal"
             data-target="#myModal">Appointment</a></li> -->
          <li class="nav-item">
             <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
          </li>
          <li class="nav-item">
             <a href="/login" class="nav-link" routerLink="login">Login</a>
          </li>
          
          <li>
            
          </li>
       </ul>
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
         <li class="nav-item">
            <a routerLink="pp" class="nav-link">Information</a>
          </li>
          <li class="nav-item">
            <a routerLink="add" class="nav-link">Add</a>
          </li>
                <li class="nav-item">
                   <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
                </li>
                <li class="nav-item">
                   <a href class="nav-link" (click)="logout()">LogOut</a>
                </li>
             </ul>
    </nav>
 </div>
 <div class="container">
    <div class="col-md-12">
       <!-- Modal -->
       <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
             <!-- Modal content-->
             <div class="modal-content">
                <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                   <form action="#">
                      <h3>Free Consultation</h3>
                      <div class="">
                         <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name">
                         </div>
                         <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name">
                         </div>
                      </div>
                      <div class="">
                         <div class="form-group">
                            <div class="form-field">
                               <div class="select-wrap">
                                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                  <select name="" id="" class="form-control">
                                     <option value="">Select Your Services</option>
                                     <option value="">Neurology</option>
                                     <option value="">Cardiology</option>
                                     <option value="">Dental</option>
                                     <option value="">Ophthalmology</option>
                                     <option value="">Other Services</option>
                                  </select>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone">
                         </div>
                      </div>
                      <div class="">
                         <div class="form-group">
                            <div class="input-wrap">
                               <div class="icon"><span class="ion-md-calendar"></span></div>
                               <input type="text" class="form-control appointment_date" placeholder="Date">
                            </div>
                         </div>
                         <div class="form-group">
                            <div class="input-wrap">
                               <div class="icon"><span class="ion-ios-clock"></span></div>
                               <input type="text" class="form-control appointment_time" placeholder="Time">
                            </div>
                         </div>
                      </div>
                      <!-- <div class="">
                         </div> -->
                      <div class="col-sm-12 text-center">
                         <button type="submit" class="btn btn-secondary py-3 px-4" id="btn1" name="btn1"
                            value="1">Appointment</button>
                         <button class="btn btn-primary py-3 px-4 " id="btn2" name="btn2" value="2"
                            type="submit">Clear</button>
                      </div>
                   </form>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

 
 <div class="">
    <app-home></app-home>
 </div>
 <app-about-info *ngIf="showHead"></app-about-info>
 <!-- <app-our-services *ngIf="showServices"></app-our-services> -->
 <!-- <app-nursing *ngIf="showNursing"></app-nursing>
    <app-lab-test *ngIf="showLabtest"></app-lab-test> -->
 <!-- <app-doc-servicest *ngIf="showDocSer"></app-doc-servicest> -->
 <app-footer></app-footer>