<style>
  .mt-20{margin-top: 16%;}
</style>

<div class="container">
  <div class="list row mt-20  card bg-light text-dark p-5">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Details</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let tutorial of tutorials; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)"
        >
          {{ tutorial.name }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentDetails">
        <h4>Details</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentDetails.name }}
        </div>
        <div>
          <label><strong>Service:</strong></label>
          {{ currentDetails.service }}
        </div>
        <div>
          <label><strong>Phone:</strong></label>
          {{ currentDetails.phone }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentDetails.published ? "Published" : "Pending" }}
        </div>
  
        <a class="badge badge-warning" href="/pdetails/{{ currentDetails.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentDetails">
        <br />
        <p>Please click on a Tutorial...</p>
      </div>
    </div>
  </div>
  
</div>